@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Users</h2>

<a class="btn btn-primary mb-3" href="@Url.Action("Create", "Users")">Create New User</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@ViewBag.UserRoles[user.Id]</td>
                <td>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Users", new { id = user.Id })">Edit</a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Users", new { id = user.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
